/* smooth infinite movement */
.infinite-swiper .swiper-wrapper {
  transition-timing-function: linear !important;
}

/* card container */
.tilt-card {
  height: 320px;
  border-radius: 20px;
  background: #ffffff00;
  color: transparent;
  overflow: hidden;
  position: relative;
  transform-style: preserve-3d;
  perspective: 1200px; 
  transition: transform 0.5s ease;
}

/* image */
.tilt-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.6s ease;
}

.tilt-card h3 {
  position: absolute;
  bottom: 16px;
  left: 16px;
  font-size: 18px;
  font-weight: 600;
  z-index: 10;
}

.tilt-card:hover {
  transform: rotateY(-12deg) rotateX(6deg) scale(1.05);
}

.tilt-card:hover .tilt-image {
  transform: scale(1.1);
}


.infinite-swiper .swiper-wrapper {
  transition-timing-function: linear !important;
}

.tilt-card {
  position: relative;
  height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  transform-style: preserve-3d;
  perspective: 1200px;
  transition: transform 0.8s ease;
}

.tilt-image {
  width: 200%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.6s ease;
  object-position: center;
}

.rotate-3d {
  transform: rotateY(180deg);
}